DATABASE_URL="file:./dev.db"
JWT_SECRET="sua-chave-secreta-jwt-aqui"
NEXT_PUBLIC_APP_NAME="VMASYS"
NEXT_PUBLIC_APP_TAGLINE="Desenvolvimento de Sites por Assinatura"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"

SMTP_HOST="smtp.resend.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="VMASYS <suporte@vmasys.com>"

# Integração Stripe (Testes e Produção)
STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
