DATABASE_URL="file:./dev.db"
JWT_SECRET="sua-chave-secreta-jwt-aqui"
NEXT_PUBLIC_APP_NAME="Portal do Cliente & Help Desk"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""
